@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Saira+Condensed:wght@100;200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap');

/* Para telas mmaiores

@media (min-width: 768px) {

    

}
*/


/* Para telas menores*/

@media (max-width: 1024px) {

    .apresentation-title {
        text-align: center !important;
    }

    .apresentation-subTitle {
        font-size: 60px !important;
        text-align: center !important;
    }

    .apresentation-about {
        text-align: center !important;
        width: 22em !important;
    }

    .container-buttom {
        display: flex;
        margin: 10% 0% 10% 0% !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .photo {
        width: 90% !important;
    }

    .container-linkedin {
        margin-top: 48px;
    }

    .linkedin {
        width: 150px !important;
    }

    .two-container1 {

        align-items: center !important;
    }

    .two-container2 {
        align-items: center !important;
    }

    .two-title {
        margin: 10% 0% 10% 0% !important;
        text-align: center !important;
    }

    .two-subTitle {
        margin: 16% 16% 5% 16% !important;
        text-align: center !important;
        width: 25em !important;
    }

    .exper {
        align-items: center !important;

    }

    .exper-title {
        text-align: center !important;
    }

    .exper-card {
        gap: 16px !important;
        width: 300px !important;
        height: 100px !important;
    }


    .three-title {
        font-size: 50px !important;
        margin: 1rem 0 2rem 1rem !important;
        text-align: center !important;
    }

    .three-projetos {
        gap: 30px !important;
        flex-wrap: wrap !important;
    }

    .projetos-title {

        font-size: 24px !important;
        text-align: center !important;

    }

    .projetos-SubTitle {
        font-size: 32px !important;
        text-align: center !important;
    }

    .projetos-text {
        margin-top: 24px !important;
        padding: 0% 24% 0 24% !important;
        font-size: 14px !important;
        text-align: center !important;
        background-color: var(--backgroud-color) !important;
    }

    .projetos-img {
        width: 100% !important;

    }

    .reverse {
        flex-direction: row-reverse !important;
    }

    .hide {
        display: none;
    }

    .show {
        visibility: visible;
    }

    .none {

        display: flex !important;
    }
    .four {
        justify-content: center !important;
    }

    .four-container1 {
        align-items: center !important;
    }
    .four-title {
        font-size: 50px !important;
        text-align: center !important;
    }

    .four-subTitle {
        font-size: 14px !important;
        width: 300px !important;
        text-align: center !important;
    }

    .four-container2 {
        padding: 16% !important;
       
    }

}