@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Saira+Condensed:wght@100;200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');
@import url('list-of-media-queries.css') (max-width: 1024px);

:root {
    --backgroud-color: #EEEEEC;
    --two-color: E5E5E5;
    --text-color: #212121;
    --color-white: white;
    --primary-color: #9302FC;
    --secondary-color: #bc4dfc;
    --footer-color: #0F8BFA;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: var(--backgroud-color);
}


.main {
    padding: 25px 0;
}

.container {
    display: block;
}

a {
    text-decoration: none;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.shrink-1 {
    flex-grow: 1;
    flex-shrink: 1;
}


.one {
    padding: 48px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    background: url('../img/background.svg') no-repeat left bottom fixed !important;

}

.apresentation {
    display: flex;
    flex-direction: column;
}

.apresentation-title {
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
    font-style: normal;
    font-family: 'Reenie Beanie', cursive;
}

.apresentation-subTitle {
    font-size: 70px;
    margin: 1rem 0 2rem 0 !important;
    color: var(--text-color);
    line-height: 65px;
    font-style: normal;
    font-weight: 600 !important;
    font-family: 'Saira Condensed', sans-serif;
}

.apresentation-about {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 500px;
}

.container-buttom {
    margin: 10% 0% 10% 0% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.buttom {
    width: 150px;
    height: 38px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: normal;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
    padding: 5px 5px 5px 24px;
    color: var(--color-white);
    transition: all 1s !important;
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 6px 4px 0px rgba(200, 198, 198, 0.25);
}

.buttom:hover {
    color: var(--color-white);
    transition: all 1s !important;
    transform: translateY(-10px) !important;
    background: linear-gradient(45deg, --primary-color, --secondary-color);
}

.icon {
    padding: 8px 15px 5px 12px;
}

.container-linkedin {
    display: flex;
    flex-direction: column;
    top: 70%;
    left: 90%;
    align-items: center;
    justify-content: flex-end;
}


.container-photo {
    display: flex;
}

.photo {
    width: 100%;
}

.two {
    padding-top: 48px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    background-color: var(--two-color) !important;
    background: url('../img/two.svg') no-repeat left bottom fixed !important;
}

.two-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.two-container2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.two-title {
    font-size: 70px;
    margin: 1rem 0 2rem 0 !important;
    color: var(--text-color);
    line-height: 65px;
    font-style: normal;
    font-weight: 600 !important;
    font-family: 'Saira Condensed', sans-serif;
}

.two-subTitle {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    width: 500px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
}

.exper {
    display: flex;
    align-items: flex-start;
    flex-direction: column !important;
}

.exper-title {
    font-size: 36px;
    margin: 1rem 0 2rem 0 !important;
    color: var(--text-color);
    line-height: 65px;
    font-style: normal;
    font-weight: 600 !important;
    font-family: 'Saira Condensed', sans-serif;
}

.container-titleAcad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exper-titleAcad {
    color: var(--primary-color);
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 5% 0%;
}

.exper-card {
    gap: 24px;
    width: 450px;
    height: 72px;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    border-radius: 21px;
    padding: 0 16px 0 16px;
    flex-direction: row !important;
    background: var(--color-white);
    box-shadow: 0px 9px 15.6px 0px rgba(0, 0, 0, 0.15);
    transition: all 1s !important;
}

.exper-card:hover {
    transition: all 1s !important;
    transform: translateY(-10px) !important;
}

.exper-contIcon {
    display: flex;
    width: 34px;
    height: 34px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: #9302FC;
}

.exper-icon {
    border-radius: 100px;
    background: #9302FC;
}

.exper-emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exper-empName {
    color: var(--text-color);
    font-family: 'Open San', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.exper-emptext {
    color: var(--text-color);
    font-family: 'Open San', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.three {
    padding: 48px 0px 48px 0px;
    display: flex !important;
    flex-direction: column !important;
    background-color: #EEEEEC !important;
    background: url('../img/three.svg') #EEEEEC no-repeat left bottom fixed !important;
}

.three-title {
    font-size: 70px;
    margin: 1rem 0 2rem 5rem ;
    color: var(--text-color);
    line-height: 65px;
    font-style: normal;
    font-weight: 600 !important;
    font-family: 'Saira Condensed', sans-serif;
}

.three-projetos {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 113px;
}


.projetos-title {
    color: var(--text-color);
    font-family: 'Saira Condensed', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.none{
    
    display: none;
}

.projetos-SubTitle {
    color: var(--primary-color);
    font-family: 'Saira Condensed', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container-projetosText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.projetos-img {
    width: 377px;
    height: 252px;
    color: #D9D9D9;
}

.projetos-text {
    width: 700px;
    color: var(--text-color);
    font-family: 'Open San', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.four {
    padding: 48px 80px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between;
    background-color: var(--footer-color) !important;

}

.four-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.four-subTitle {
    color: var(--color-white);
    font-family: 'Open San', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 500px;
    height: 118px;
}

.container-contatIcon {
    margin-bottom: 24px;
    display: flex;
    gap: 12px;
}

.icon-contact {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}


.contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white) !important;
    font-family: 'Open San', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none !important;
}

.four-container2 {
    display: flex;
    padding: 0% 16% 0% 16%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.four-title {
    font-size: 70px;
    margin: 1rem 0 2rem 0 !important;
    color: var(--color-white);
    line-height: 65px;
    font-style: normal;
    font-weight: 600 !important;
    font-family: 'Saira Condensed', sans-serif;
}